* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: coco1;
  src: url(/coco1.ttf);
}

html {
  font-size: 6.25%;
  scroll-behavior: smooth;
}
:root {
  --primary-font-family: "Lato", sans-serif;
  --primary-color: #ff6b00;
  --color-secondary: #ec5242;
  --color-tertiary: #d3d3d3;
  --color-white: #fff;
  --color-grey: #585858;
  --color-background: #272a32;
  --color-light-grey: #ebf0ee;
}

@media only screen and (min-width: 275px) {
  html {
    font-size: 5.5%;
  }

  .header-container{
    display: none;
  }

  .nav-bar-fluid-container{
    display: none;
  }

  .menu-bar-fluid{
    height: 100px;
    transition: 0.7s ease-in-out;
  }

  .menu-bar-fluid-background-change{
    background: var(--color-background);
    height: 100vh;
    z-index: 1;
  }

  .wrap {
    width: 32px;
    height: 6px;
    position: relative;
    top: 26px;
    left: 25px;
    cursor: pointer;
  }

  .change-wrap {
    top: 26px;
    left: 25px;
  }

  .menu {
    width: 100%;
    height: 100%;
    background: #877772;
    display: block;
    transition: 0.5s ease-in-out;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  .change-wrap #bar1 {
    transform: translateY(2px) rotate(-45deg);
    background: var(--color-white);
    /* font-weight: lighter; */
  }

  .change-wrap #bar2 {
    display: none;
  }

  #bar3 {
    transform: translateY(4px);
  }

  .change-wrap #bar3 {
    transform: translateY(-4px) rotate(45deg);
    background: var(--color-white);
  }

  .nav-list-mobile {
    display: none;
    position: relative;
    top: 90rem;
    transition: 1s ease;
    
  }
  .nav-list-mobile-change{
    display: block;
  }

  .nav-list-mobile li{
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   border: 1px solid var(--color-grey);  
   margin: 4rem 2rem; 
  }

  .nav-list-mobile li a{
    font-size: 25rem;
    padding: 4rem;
    text-decoration: none;
    color: var(--color-secondary)
  }
  .nav-list-mobile li:hover{
    background: var(--color-secondary);
  }
  .nav-list-mobile li a:hover{
    color: var(--color-white)
  }

  /* Home page section start from here */

  .home-page-fluid-container{
    background: url(/images/background2.jpg);
    height: 74vh;
    width: 100vw;
    background-repeat: no-repeat;
  }
  
   .main-home-container{
    display: flex;
    flex-direction: column;
   } 
   .heading-1{
    position: relative;
    margin: 2rem 5rem;
   }
    .heading-1 h1{
      font-size: 20rem;
      font-family: var(--primary-font-family);
      font-weight: 400;
      color: var(--color-secondary);
    }
   .heading-2{
    position: relative;
    margin: 2rem 8rem;
    width: 280rem;
   }
    .heading-2 h2{
      letter-spacing: 2rem;
      font-size: 25rem;
      font-family: var(--primary-font-family);
      font-weight: bolder;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to bottom right,var(--color-secondary), orange);
    }

    .para-heading{
      position: relative;
      top: 9rem;
      margin: 2rem 8rem;
      width: 280rem;
      background-color: var(--color-white);
     }
      .para-heading p{
        font-size: 12rem;
        padding: 4rem;
        margin: 3rem;
        color: var(--color-background);
      }
    .heading-3{
      position: relative;
      top: 19rem;
      margin: 2rem 8rem;
      width: 280rem;
     }
      .heading-3 h3{
        font-size: 20rem;
        padding: 2rem;
        font-family: var(--primary-font-family);
        font-weight: 700;
        color: var(--color-grey);
      }
    .heading-4{
      position: relative;
      top: 19rem;
      margin: 2rem 8rem;
      width: 310rem;
     }
      .heading-4 h4{
        font-size: 15rem;
        padding: 2rem;
        font-family: var(--primary-font-family);
        font-weight: bolder;
        color: var(--color-background);
      }

  /* Main course section start from here */

  .main-program {
    overflow-y: scroll;
    /* z-index: 1000; */
    height: 100vh;
  }
  .main-program::before {
    content: "";
    background: url(/images/main-bg-2.png);
    background-color: #272a32;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 100vh;
    z-index: -1;
  }
  .main-text {
    color: white;
    font-size: 30rem;
  }
  .main-text-line {
    width: 38rem;
    background-color: var(--color-secondary);
    height: 1rem;
  }

  .boxes-container {
    position: relative;
    top: 40rem;
  }

  .main-program-box {
    height: 100rem;
    width: 90vw;
    margin: 7rem auto;
    background: #ffffff1a;
  }

  .lang-img {
    width: 70rem;
    height: 70rem;
    display: flex;
    margin: auto;
    filter: invert(100%);
    z-index: -1;
  }
  .h2class {
    color: var(--color-secondary);
    font-size: 16rem;
    text-align: center;
    position: relative;
  }
  .pclass {
    color: var(--color-white);
    font-size: 11rem;
    width: 70%;
    margin: auto;
    position: relative;
  }
  .main-program-btn {
    padding: 9rem;
    background-color: var(--color-secondary);
    color: white;
    font-size: 11rem;
    margin: 19rem auto;
    cursor: pointer;
  }
  .main-program-btn:hover {
    border: 2px solid #f1eaea;
  }
  .seeprogramclass {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 5.6%;
  }

  .menu-bar-fluid{
    display: none;
  }

  .header-container {
    display: block;
    background: var(--color-background);
  }
  
    .nav-bar-fluid-container{
      display: block;
      overflow: hidden;
    }
  .header-columns {
    display: flex;
    align-items: center;
    width: 6%;
  }

  .mypage {
    width: max-content;
  }

  .header-icons {
    text-align: center;
    display: flex;
    align-items: center;
    width: 4%;
    font-size: 14rem;
    padding: 6rem;
    letter-spacing: 1rem;
    color: var(--color-white);
    text-decoration: none;
  }

  .header-icons:hover{
    color: var(--color-secondary);
  }

  .header-text{
    text-align: center;
    display: flex;
    align-items: center;
    width: 4%;
    font-size: 10rem;
    padding: 6rem;
    letter-spacing: 1rem;
    color: var(--color-white);
    text-decoration: none;
    /* font-family: 'coco'; */
  }
  .header-text:hover{
    color: var(--color-secondary);
  }

  .nav-logo{
    width: 190rem;
    height: 190rem;
    position: relative;
    top: -59rem;
  }
  .nav-bar-container{
    border: 2px solid #ec5242;
    height: 60rem;
  }
  .nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ec5242;
    height: 55rem;
    width: 590rem;
    position: relative;

  }
  .nav-list li{
    display: flex;
    text-decoration: none;
    padding: 6rem;
    margin: auto;
    margin-right: 14rem;
  }
  
  .nav-list li a{
    text-decoration: none;
    color: var(--color-grey);
    font-size: 14rem;
  }
  .nav-list li a:hover{
    color: var(--color-secondary);
  }

  .nav-bar-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 110rem;
    height: 40rem;
    font-size: 20rem;
    cursor: pointer;
    border: 3px solid var(--color-secondary);
  }
  .nav-bar-btn:hover{
    background-color: #f1f089;
    color: var(--color-secondary);
  }

  .main-home-container{
    position: relative;
    top: 40rem;
  }

  .main-program-box {
    width: 18%;
    height: 200rem;
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
  }
  .pclass {
    text-align: center;
  }
  .seeprogramclass {
    display: flex;
    justify-content: center;
    width: 35%;
    position: relative;
    right: 94rem;
  }
  .seeprogramclass h2 {
    display: flex;
    color: var(--color-white);
    font-size: 18rem;
    position: relative;
    margin: 29rem 12rem 13rem auto;
    text-decoration: underline;
  }
  .main-program-btn {
    display: none;
  }
  .main-program::before {
    height: 60vh;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 7%;
  }
  .main-program::before {
    height: 80vh;
  }
  .seeprogramclass {
    right: 164rem;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 8%;
  }
  .main-program::before {
    height: 79vh;
  }
  .seeprogramclass {
    right: 134rem;
  }
}
