* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: coco1;
  src: url(/coco1.ttf);
}

html {
  font-size: 6.25%;
  scroll-behavior: smooth;
}
:root {
  --primary-font-family: "Lato", sans-serif;
  --primary-color: #ff6b00;
  --color-secondary: #ec5242;
  --color-tertiary: #d3d3d3;
  --color-white: #fff;
  --color-grey: #585858;
  --color-background: #272a32;
  --color-light-grey: #ebf0ee;
}

@media only screen and (min-width: 275px) {
  html {
    font-size: 5.5%;
  }

  .header-container {
    display: none;
  }

  .nav-bar-fluid-container {
    display: none;
  }

  .menu-bar-fluid {
    height: 100px;
    transition: 0.7s ease-in-out;
  }

  .menu-bar-fluid-background-change {
    background: var(--color-background);
    height: 1000vh;
    position: absolute;
    z-index: 2000;
  }

  .wrap {
    width: 32px;
    height: 6px;
    position: relative;
    top: 26px;
    left: 25px;
    cursor: pointer;
  }

  .change-wrap {
    top: 26px;
    left: 25px;
  }

  .menu {
    width: 100%;
    height: 100%;
    background: #877772;
    display: block;
    transition: 0.5s ease-in-out;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  .change-wrap #bar1 {
    transform: translateY(2px) rotate(-45deg);
    background: var(--color-white);
    /* font-weight: lighter; */
  }

  .change-wrap #bar2 {
    display: none;
  }

  #bar3 {
    transform: translateY(4px);
  }

  .change-wrap #bar3 {
    transform: translateY(-4px) rotate(45deg);
    background: var(--color-white);
  }

  .nav-list-mobile {
    display: none;
    position: relative;
    top: 90rem;
    transition: 1s ease;
  }
  .nav-list-mobile-change {
    display: block;
  }

  .nav-list-mobile li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-grey);
    margin: 4rem 2rem;
  }

  .nav-list-mobile li a {
    font-size: 25rem;
    padding: 4rem;
    text-decoration: none;
    color: var(--color-secondary);
  }
  .nav-list-mobile li:hover {
    background: var(--color-secondary);
  }
  .nav-list-mobile li a:hover {
    color: var(--color-white);
  }

  /* Home page section start from here */

  .home-page-fluid-container {
    background: url(/images/background2.jpg);
    height: 61vh;
    background-repeat: no-repeat;
  }

  .main-home-container {
    display: flex;
    flex-direction: column;
  }
  .heading-1 {
    position: relative;
    margin: 2rem 5rem;
  }
  .heading-1 h1 {
    font-size: 20rem;
    font-family: var(--primary-font-family);
    font-weight: 400;
    color: var(--color-secondary);
  }
  .heading-2 {
    position: relative;
    margin: 2rem 8rem;
    width: 280rem;
  }
  .heading-2 h2 {
    letter-spacing: 2rem;
    font-size: 25rem;
    font-family: var(--primary-font-family);
    font-weight: bolder;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    background-image: url(/images/orangeimg1.jpg);
  }

  .para-heading {
    position: relative;
    top: 9rem;
    margin: 2rem 8rem;
    width: 280rem;
    background-color: var(--color-white);
  }
  .para-heading p {
    font-size: 12rem;
    padding: 4rem;
    margin: 3rem;
    color: var(--color-background);
  }
  .heading-3 {
    position: relative;
    top: 19rem;
    margin: 2rem 8rem;
    width: 280rem;
  }
  .heading-3 h3 {
    font-size: 20rem;
    padding: 2rem;
    font-family: var(--primary-font-family);
    font-weight: 700;
    color: var(--color-grey);
  }
  .heading-4 {
    position: relative;
    top: 19rem;
    margin: 2rem 8rem;
    width: 310rem;
  }
  .heading-4 h4 {
    font-size: 15rem;
    padding: 2rem;
    font-family: var(--primary-font-family);
    font-weight: bolder;
    color: var(--color-background);
  }

  /* Main course section start from here */

  .main-program {
    height: 100vh;
  }
  .main-program::before {
    content: "";
    background: url(/images/main-bg-2.png);
    background-color: #272a32;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 100vh;
    z-index: -1;
  }
  .main-text {
    color: white;
    font-size: 30rem;
  }
  .main-text-line {
    width: 38rem;
    background-color: var(--color-secondary);
    height: 1rem;
  }

  .boxes-container {
    position: relative;
    top: 40rem;
  }

  .main-program-box {
    height: 100rem;
    width: 90vw;
    margin: 7rem auto;
    background: #ffffff1a;
  }

  .lang-img {
    width: 70rem;
    height: 70rem;
    display: flex;
    margin: auto;
    filter: invert(100%);
    z-index: -1;
  }
  .h2class {
    color: var(--color-secondary);
    font-size: 16rem;
    text-align: center;
    position: relative;
  }
  .pclass {
    color: var(--color-white);
    font-size: 11rem;
    width: 70%;
    margin: auto;
    position: relative;
  }
  .main-program-btn {
    padding: 9rem;
    background-color: var(--color-secondary);
    color: white;
    font-size: 11rem;
    margin: 19rem auto;
    cursor: pointer;
  }
  .main-program-btn:hover {
    border: 2px solid #f1eaea;
  }
  .seeprogramclass {
    display: none;
  }

  /* Feature section css start from here */
  .feature-program-container {
    position: relative;
    top: 15rem;
  }
  .feature-main-text {
    color: var(--color-background);
    font-size: 30rem;
  }
  .feature-main-text-line {
    width: 38rem;
    background-color: var(--color-secondary);
    height: 1rem;
  }

  .feature-boxes {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 64rem;
  }

  .boxes-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feature-box {
    display: flex;
    width: 281px;
    margin: 8rem 1rem;
  }

  .feature-img-box img {
    width: 100rem;
  }
  .info-box {
    width: 162rem;
    margin-left: 8rem;
  }
  .info-box h1 {
    font-weight: bolder;
    font-size: 18rem;
    font-family: var(--primary-font-family);
    color: var(--color-background);
  }
  .info-box h2 {
    font-size: 15rem;
    font-family: var(--primary-font-family);
    color: var(--color-secondary);
    font-style: italic;
  }
  .info-box p {
    font-size: 12rem;
    line-height: 12rem;
    margin-top: 9rem;
    font-family: var(--primary-font-family);
    color: var(--color-background);
  }

  .feature-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    margin-bottom: 9rem;
    border: 1px solid var(--color-tertiary);
  }
  .feature-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 15rem;
    padding: 5rem;
    border: none;
    outline: none;
    color: var(--color-background);
    cursor: pointer;
  }
  .feature-btn i {
    color: var(--color-secondary);
    padding-left: 10rem;
  }

  .feature-btn:hover {
    background-color: var(--color-grey);
    color: white;
  }
  .changefeaturebtn {
    display: none;
  }
  .featurebtn1 {
    display: none;
  }
  .changefeaturebtn1 {
    display: block;
  }

  .minimize1 {
    display: none;
  }
  .minimize2 {
    display: none;
  }
  .minimize3 {
    display: none;
  }

  .minimize-box {
    display: flex;
  }

  .partner-section {
    position: relative;
    top: 75rem;
    height: 45vh;
    background-color: var(--color-background);
  }

  .partner-main-text {
    color: white;
    font-size: 30rem;
  }
  .partner-main-text-line {
    width: 38rem;
    background-color: var(--color-secondary);
    height: 1rem;
  }
  .partner-img-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    top: 30rem;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  .img1 {
    width: 100px;
  }

  .img2 {
    width: 195px;
  }
  .img3 {
    width: 58px;
    height: 68px;
  }
  .img4 {
    width: 60px;
  }

  .footer-section {
    position: relative;
    top: 120rem;
  }

  .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55rem;
  }

  .footer-img {
    width: 228px;
    position: absolute;
  }
  .footer-para {
    display: flex;
    font-size: 20rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 73rem;
    font-family: var(--primary-font-family);
    color: var(--color-background);
    padding: 4rem;
  }
  .seeprogramclass h2 {
    display: none;
  }

  /* About section css start from here */

  .about-page-fluid-container {
    background: url(/images/background2.jpg);
    height: 97vh;
    background-repeat: no-repeat;
  }

  .about-home-container {
    display: flex;
    flex-direction: column;
  }
  .about-heading-1 {
    position: relative;
    margin: 2rem 5rem;
  }
  .about-heading-1 h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28rem;
    font-family: var(--primary-font-family);
    font-weight: 400;
    color: var(--color-secondary);
  }
  .about-heading-2 {
    position: relative;
    width: 100%;
  }
  .about-heading-2 h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30rem;
    font-family: var(--primary-font-family);
    font-weight: bolder;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    background-image: url(/images/orangeimg1.jpg);
  }

  .about-para-heading {
    position: relative;
    top: 26rem;
    margin: auto;
    width: 90%;
    background-color: var(--color-white);
  }
  .about-para-heading p {
    font-size: 20rem;
    text-align: center;
    padding: 4rem;
    margin: 3rem;
    color: var(--color-background);
  }

  .about-heading-3 {
    position: relative;
    top: 60rem;
    margin: auto;
    width: 65%;
    background-color: var(--color-white);
  }
  .about-heading-3 h3 {
    font-size: 15rem;
    text-align: center;
    padding: 2rem;
    font-family: var(--primary-font-family);
    font-weight: bolder;
    color: var(--color-background);
  }

  .about-heading-4 {
    position: relative;
    top: 81rem;
    margin: auto;
    width: 90%;
  }
  .about-heading-4 h4 {
    text-align: center;
    font-size: 18rem;
    padding: 2rem;
    font-family: var(--primary-font-family);
    font-weight: 700;
    color: var(--color-grey);
  }
  .logo-section {
    height: 63vh;
    width: 100%;
  }

  .logo-text {
    color: var(--color-background);
    font-size: 30rem;
    text-align: center;
  }
  .logo-text-line {
    width: 38rem;
    background-color: var(--color-secondary);
    height: 1rem;
  }

  .logo-para-heading {
    position: relative;
    top: 26rem;
    margin: auto;
    width: 90%;
    background-color: var(--color-white);
  }
  .logo-para-heading p {
    font-size: 20rem;
    text-align: center;
    padding: 4rem;
    margin: 3rem;
    color: var(--color-background);
  }
  .webly-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
    top: 82rem;
    border: 1px solid var(--color-tertiary);
  }
  .webly-logo img{
    width: 250px;
  }
  .past-section {
    height: 100vh;
    width: 100%;
  }

  .past-text {
    color: var(--color-background);
    font-size: 30rem;
    text-align: center;
  }
  .past-text-line {
    width: 38rem;
    background-color: var(--color-secondary);
    height: 1rem;
  }

  .past-para-heading {
    position: relative;
    top: 26rem;
    margin: auto;
    width: 90%;
    background-color: var(--color-white);
  }
  .past-para-heading p {
    font-size: 20rem;
    text-align: center;
    padding: 4rem;
    margin: 3rem;
    color: var(--color-background);
  }
  .past-pic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    position: relative;
    top: 42rem;
  }
  .pastimage1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 14rem auto;
    background-color: var(--color-secondary);
    opacity: 0.9;
  }
  .pastimage1::before{
    content: '';
    position: absolute;
    background: url(/images/pastpicimage1.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    opacity: 0.3;
    z-index: -2;
  }
  .pastimage1 h2{
    font-size: 49rem;
    font-family: var(--primary-font-family);
    text-align: center;
    font-weight: bolder;
    color: var(--color-white);
  }
  .pastimage1 p{
    font-size: 17rem;
    letter-spacing: 1rem;
    font-family: var(--primary-font-family);
    text-align: center;
    color: var(--color-white);
  }
  
  .pastimage2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 14rem auto;
    background-color: var(--color-secondary);
    opacity: 0.9;
  }
  .pastimage2::before{
    content: '';
    position: absolute;
    background: url(/images/pastpicimage2.jpg);
    background-size:cover ;
    width: 100%;
    height: 200px;
    opacity: 0.3;
    z-index: -2;
  }
  .pastimage2 h2{
    font-size: 49rem;
    font-family: var(--primary-font-family);
    text-align: center;
    font-weight: bolder;
    color: var(--color-white);
  }
  .pastimage2 p{
    font-size: 17rem;
    letter-spacing: 1rem;
    font-family: var(--primary-font-family);
    text-align: center;
    color: var(--color-white);
  }

}
  


@media only screen and (min-width: 390px) {
  .home-page-fluid-container {
    height: 50vh;
  }
  .about-page-fluid-container {
    height: 50vh;
  }
  .main-program {
    height: 80vh;
  }
  .main-program::before {
    height: 80vh;
  }
  .partner-section {
    height: 35vh;
  }
}

@media only screen and (min-width: 540px) {
  .home-page-fluid-container {
    height: 62vh;
  }
  .about-page-fluid-container {
    height: 62vh;
  }
  .main-program {
    height: 92vh;
  }
  .main-program::before {
    height: 92vh;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 5.6%;
  }

  .home-page-fluid-container {
    height: 35vh;
  }
  .about-page-fluid-container {
    height: 35vh;
  }
  .about-heading-1 {
    display: none;
  }

  .menu-bar-fluid {
    display: none;
  }

  .header-container {
    display: block;
    background: var(--color-background);
  }

  .nav-bar-fluid-container {
    display: block;
    overflow: hidden;
  }
  .header-columns {
    display: flex;
    align-items: center;
    width: 6%;
  }

  .mypage {
    width: max-content;
  }

  .header-icons {
    text-align: center;
    display: flex;
    align-items: center;
    width: 4%;
    font-size: 14rem;
    padding: 6rem;
    letter-spacing: 1rem;
    color: var(--color-white);
    text-decoration: none;
  }

  .header-icons:hover {
    color: var(--color-secondary);
  }

  .header-text {
    text-align: center;
    display: flex;
    align-items: center;
    width: 4%;
    font-size: 10rem;
    padding: 6rem;
    letter-spacing: 1rem;
    color: var(--color-white);
    text-decoration: none;
    /* font-family: 'coco'; */
  }
  .header-text:hover {
    color: var(--color-secondary);
  }

  .nav-logo {
    width: 190rem;
    height: 190rem;
    position: relative;
    top: -59rem;
  }
  .nav-bar-container {
    height: 60rem;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55rem;
    width: 590rem;
    position: relative;
  }
  .nav-list li {
    display: flex;
    text-decoration: none;
    padding: 6rem;
    margin: auto;
    margin-right: 14rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: var(--color-grey);
    font-size: 14rem;
  }
  .nav-list li a:hover {
    color: var(--color-secondary);
  }

  .nav-bar-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 110rem;
    color: var(--color-secondary);
    font-size: 20rem;
    cursor: pointer;
    border: 3px solid var(--color-secondary);
  }
  .nav-bar-btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }

  .main-home-container {
    position: relative;
    top: 40rem;
  }

  .about-home-container {
    position: relative;
    top: 40rem;
  }

  .main-program {
    height: 33vh;
  }

  .main-program-box {
    width: 18%;
    height: 200rem;
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
  }
  .pclass {
    text-align: center;
  }
  .seeprogramclass {
    display: flex;
    justify-content: center;
    width: 35%;
    position: relative;
    right: 94rem;
  }
  .seeprogramclass h2 {
    display: flex;
    color: var(--color-white);
    font-size: 18rem;
    position: relative;
    margin: 29rem 12rem 13rem auto;
    text-decoration: underline;
  }
  .main-program-btn {
    display: none;
  }
  .main-program::before {
    height: 33vh;
  }

  .feature-box {
    width: 281px;
  }
  .feature-btn-container {
    display: none;
  }
  .minimize1 {
    display: flex;
  }
  .minimize2 {
    display: flex;
  }
  .minimize3 {
    display: flex;
  }
  .partner-section {
    height: 22vh;
  }
  .past-pic{
    flex-direction: row;
  }
  .pastimage1{
    margin: 14rem 8rem
  }
  .pastimage1::before{
    width: 49%;
  }
  .pastimage2::before{
    width: 49%;
  }
}

@media only screen and (min-width: 912px) {
  .main-program {
    height: 28vh;
  }
  .main-program::before {
    height: 28vh;
  }
  .home-page-fluid-container {
    height: 29vh;
  }
  .about-page-fluid-container {
    height: 29vh;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 7%;
  }
  .main-program {
    height: 77vh;
  }
  .main-program::before {
    height: 77vh;
  }
  .home-page-fluid-container {
    height: 77vh;
  }
  .about-page-fluid-container {
    height: 77vh;
  }
  .seeprogramclass {
    right: 164rem;
  }
  .feature-box {
    width: 413px;
  }
  .partner-section {
    height: 37vh;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 8%;
  }
  .main-program {
    height: 65vh;
  }
  .main-program::before {
    height: 65vh;
  }
  .seeprogramclass {
    right: 134rem;
  }
}
